<launch>
    <arg name="fcu_url" default="/dev/ttyACM0:921600"/>
    <arg name="gcs_url" default="udp://@192.168.4.103"/>
    <arg name="SYS_ID" default="1"/>
	<param name="UAV_ID" value="1"/>
	<param name="sub_topic" value="/vrpn_client_node/MAV1/pose"/>

    <include file="$(find mavros)/launch/apm.launch">
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="gcs_url" value="$(arg gcs_url)"/>
        <arg name="tgt_system" value="$(arg SYS_ID)"/>
    </include> 

    <node name="topic_tool" pkg="flight_control" type="topic_tool"></node>

</launch>
